COUCHBASE_IMAGE=couchbase/server:community-7.6.0
COUCHBASE_USERNAME=Administrator
COUCHBASE_PASSWORD=changeme
COUCHBASE_BUCKET=demo
COUCHBASE_MEMORY_QUOTA=512
COUCHBASE_INDEX_MEMORY_QUOTA=256
COUCHBASE_REPLICA_COUNT=2

SPRING_APP_PORT=8080

CB_NODE1_IP=172.28.0.2
CB_NODE2_IP=172.28.0.3
CB_NODE3_IP=172.28.0.4
CB_SUBNET=172.28.0.0/16
